.*.swp                                                                                                                                                                                                                                    
.DS_Store 
.yardoc
